@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Toboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
html,body,.main-container,.container {
scroll-behavior: smooth;
}

li {
  list-style: none;
  transition: all 0.4s;
  z-index: 15;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
}

h3 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
}

p {
  margin-top: 30px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}
.second--image {
  margin-top: 100px;
}
.third--image {
  margin-top: 350px;
}
.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  letter-spacing: 5px;
  ;
}

.btn:hover {
  transform: scale(0.97);
  background-color: #95a5a6;
}
.main-container:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border:1px solid red; */
}

#logo {
  border: 1px solid #000;
  padding: 0 15px;
}

.main-nav {
  position: fixed;
  display: flex;
  padding: 2em 4em;
  z-index: 12;
}

.main-nav .ul__second {
  position: fixed;
  display: flex;
  right: 4em;

}

.main-nav .ul__second li {
  margin-left: 1.5em;
}

.main-nav .ul__second #border {
  border: 1px solid rgb(0, 0, 0);
  padding: 0 15px;
  align-items: center;
}

.container {
  width: 400vw;
  display: flex;
  flex-direction: row;
  

}

.container .summer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  ;
}


.container .summer .image {
  width: 400px;
  height: 600px;
}

.content {
  margin-top: 50px;
  margin-right: 100px;
  text-align: center;
  z-index: 10;
}

/* ::-webkit-scrollbar{
display: none;
} */